.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: end;
}

.productSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.productSquare:hover {
  border: 1px solid grey;
  cursor: pointer;
}

.productSquare:hover .addToCart {
  background: #e3c040;
}

.shipping {
  background: black;
  color: white;
  width: 20%;
  font-size: 10px;
  padding: 5px;
  text-align: center;
  position: relative;
  top: 2%;
  left: 30%;
}

.underscore {
  color: #e3c040;
  font-weight: bolder;
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: -5px;
}

.price {
  margin-bottom: -10px;
  font-weight: bolder;
}

.installments {
  color: grey;
}

.addToCart {
  width: 80%;
  text-align: center;
  background: black;
  color: white;
  padding: 20px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (min-width: 100px) {
  .productGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
  }
}

@media screen and (min-width: 670px) {
  .productGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
  }
}

@media screen and (min-width: 1000px) {
  .productGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
  }
}

@media screen and (min-width: 1350px) {
  .productGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
  }
}
